.bg-secondary {
    background-color: rgba(222,222, 222, .4) !important;
}

#navbar-main .btn-outline-primary {
    background-color: transparent !important;
    color: #606060;
    border: none;
    transition: color 0.2s ease-in-out;
}

    #navbar-main .btn-outline-primary:hover {
        color: #00A676 !important;
    }

#navbar-main .btn-check:checked + .btn, #navbar-main .btn.active, #navbar-main .btn.show, #navbar-main .btn:first-child:active, #navbar-main :not(.btn-check) + .btn:active {
    background: linear-gradient(90deg,rgba(120, 211, 107, 1) 0%, rgba(0, 166, 118, 1) 100%) !important;
    color: #fff;
}

.btn-primary {
    background: linear-gradient(90deg, rgba(120, 211, 107, 1) 0%, rgba(0, 166, 118, 1) 100%);
    background-size: 200% 100%;
    background-position: 0%;
    transition: background-position 0.2s ease-in-out;
    color: #fff;
    border: none;
}

    .btn-primary:hover {
        background-position: 40%;
    }
