/* OTHER */
body {
    scrollbar-width: none !important;
    font-family: 'Jost', sans-serif;
}
    body::-webkit-scrollbar, html::-webkit-scrollbar {
        width: 0;
        height: 0;
        display: none;
    }
.transition {
    transition: all 0.2s ease-in-out;
}
.w-70 {
    width: 70%;
}
.w-80 {
    width: 80;
}
.scroll-mt {
    scroll-margin-top: 9rem;
}
.vh100 {
    height: 100vh;
}

.invalid-feedback {
    display: block !important;
    opacity: 0;
    transition: 0.3s all ease-in-out;
}

.is-invalid ~ .invalid-feedback, .is-invalid ~ .invalid-tooltip, .was-validated :invalid ~ .invalid-feedback, .was-validated :invalid ~ .invalid-tooltip {
    opacity: 1;
}
/* NAVBAR */
#navbar-main .btn-outline-primary {
    background-color: transparent !important;
    color: #606060;
    border: none;
    transition: color 0.2s ease-in-out;
}

    #navbar-main .btn-outline-primary:hover {
        color: #00A676 !important;
    }

#navbar-main .btn-check:checked + .btn, #navbar-main .btn.active, #navbar-main .btn.show, #navbar-main .btn:first-child:active, #navbar-main :not(.btn-check) + .btn:active {
    background: linear-gradient(90deg,rgba(120, 211, 107, 1) 0%, rgba(0, 166, 118, 1) 100%) !important;
    color: #fff;
}

/* BUTTONS */
.btn-primary {
    background: linear-gradient(90deg, rgba(120, 211, 107, 1) 0%, rgba(0, 166, 118, 1) 100%);
    background-size: 200% 100%;
    background-position: 0%;
    transition: background-position 0.2s ease-in-out;
    color: #fff;
    border: none;
}

    .btn-primary:hover {
        background-position: 40%;
    }

/* BORDERS */
.border-gradient {
    border-image-source: linear-gradient(90deg,rgba(120, 211, 107, 1) 0%, rgba(0, 166, 118, 1) 100%) !important;
    border-image-slice: 30 !important;
}
.border-primary {
    border-color: #00A676 !important;
}

/* BACKGROUNDS */
.bg-secondary {
    background-color: rgba(222,222, 222, .4) !important;
}
.bg-black {
    background-color: #171717 !important;
}

/* TEXT */
.text-gradient {
    color: transparent;
    background: linear-gradient(90deg,rgba(0, 166, 118, 1) 0%, rgba(120, 211, 107, 1) 50%);
    -webkit-background-clip: text;
}

.text-secondary {
    color: #454545 !important;
}

@media (max-width: 1199px) {
}

@media (max-width: 991px) {
}

@media (max-width: 767px) {
}
@media (max-width: 575px) {

}