/* OTHER */
body {
    scrollbar-width: none !important;
    font-family: 'Jost', sans-serif;
}
    body::-webkit-scrollbar, html::-webkit-scrollbar {
        width: 0;
        height: 0;
        display: none;
    }
.transition {
    transition: all 0.2s ease-in-out;
}
.w-70 {
    width: 70%;
}
.w-80 {
    width: 80;
}
.temp {
    height: 300px
}


/* NAVBAR */
#navbar-main .btn-outline-primary {
    background-color: transparent !important;
    color: #606060;
    border: none;
    transition: color 0.2s ease-in-out;
}

    #navbar-main .btn-outline-primary:hover {
        color: #00A676 !important;
    }

#navbar-main .btn-check:checked + .btn, #navbar-main .btn.active, #navbar-main .btn.show, #navbar-main .btn:first-child:active, #navbar-main :not(.btn-check) + .btn:active {
    background: linear-gradient(90deg,rgba(120, 211, 107, 1) 0%, rgba(0, 166, 118, 1) 100%) !important;
    color: #fff;
}

/* BUTTONS */
.btn-primary {
    background: linear-gradient(90deg, rgba(120, 211, 107, 1) 0%, rgba(0, 166, 118, 1) 100%);
    background-size: 200% 100%;
    background-position: 0%;
    transition: background-position 0.2s ease-in-out;
    color: #fff;
    border: none;
}

    .btn-primary:hover {
        background-position: 40%;
    }

/* BORDERS */
.border-gradient {
    border-image-source: linear-gradient(90deg,rgba(120, 211, 107, 1) 0%, rgba(0, 166, 118, 1) 100%);
    border-image-slice: 30;
}

/* BACKGROUNDS */
.bg-secondary {
    background-color: rgba(222,222, 222, .4) !important;
}

/* TEXT */
.text-gradient {
    color: transparent;
    background: linear-gradient(90deg,rgba(0, 166, 118, 1) 0%, rgba(120, 211, 107, 1) 70%);
    -webkit-background-clip: text;
}

.text-secondary {
    color: #454545 !important;
}