.nav-group-element {
    text-decoration: none;
    width: 33%;
    color: #606060;
    z-index: 1;
    transition: color 0.2s ease-in-out;
}

.nav-group-element.active{
    color: #fff;
}


.nav-slider {
    transition: left 0.3s ease-in-out, width 0.3s ease-in-out;
    display: block;
    height: 100%;
    z-index: 0;
    top: 0%;
    background: linear-gradient(65deg,rgba(120, 211, 107, 1) 0%, rgba(0, 166, 118, 1) 100%) !important;
}

.scrolled-header {
    background-color: rgba(255, 255, 255, 0.9);
    backdrop-filter: blur(0.5px);
}
